.tenlophoccanadd{
    font-weight: bold;
    font-size: 50px;
}
.tenmonhoccannadd{
    font-weight: bold;
    font-size: 30px;
}
.phonghoccanadd{
    font-size: 30px;
}
.caituadedo{
    width: 100%;
    margin: 5%;
}
.caituade{
    width: 100%;
}
.hotensinhviencanadd{
    width: 25%;
    font-weight: bold;
}
.usernamesinhviencanadd{
    width: 20%;
    font-weight: bold;
}
.emailsinhviencanadd{
    width: 25%;
    font-weight: bold;
}
.trangthaisinhviencanadd{
    width: 20%;
    font-weight: bold;
}
.hotenadd{
    width: 26.5%;
}
.usernameadd{
    width: 22%;
}
.emailadd{
    width: 27%;
}
.trangthaiadd{
    width: 20%;
}
.add-student-choose{
    float: right;
}