.body_login {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    background: url('./image/login.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.h1_login {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: beige;
    padding: 20px;
    font-display: flex;
}

.row-container_login {
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 20vh;
    /* vh= Viewport's height */
    padding: 30px;
    -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
}

.form-check-label_login {
    color: beige;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.signup_login {
    text-align: center;
}

.signuplabel_login {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: #b6ebdb;
}

.signupbt_login {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: beige;
}

.signupbt_login:hover {
    color: rgb(73, 177, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
}

.txt_login {
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
}

.txt_login:hover {
    color: rgb(73, 177, 73);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.btn-success_login {
    width: 75%;
    border-radius: 80px 70px;
    -webkit-border-radius: 80px 70px;
    -moz-border-radius: 80px 70px;
    -ms-border-radius: 80px 70px;
    -o-border-radius: 80px 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.loginbt_login {
    text-align: center;
}























input[type="text"] {
    width: 100%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #aaa;
    border-radius: 70px 80px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    -webkit-border-radius: 70px 80px;
    -moz-border-radius: 70px 80px;
    -ms-border-radius: 70px 80px;
    -o-border-radius: 70px 80px;
}

input[type="text"]:focus {
    border-color: rgb(29, 177, 95);
    box-shadow: 0 0 8px 0 rgb(29, 177, 95);
}

.inputWithIcon input[type="text"] {
    padding-left: 40px;
}

input[type="password"] {
    width: 100%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #aaa;
    border-radius: 70px 80px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    -webkit-border-radius: 70px 80px;
    -moz-border-radius: 70px 80px;
    -ms-border-radius: 70px 80px;
    -o-border-radius: 70px 80px;
}

input[type="password"]:focus {
    border-color: rgb(29, 177, 95);
    box-shadow: 0 0 8px 0 rgb(29, 177, 95);
}

.inputWithIcon_login input[type="password"] {
    padding-left: 40px;
}

input[type="email"] {
    width: 100%;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid #aaa;
    border-radius: 70px 80px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    -webkit-border-radius: 70px 80px;
    -moz-border-radius: 70px 80px;
    -ms-border-radius: 70px 80px;
    -o-border-radius: 70px 80px;
}

input[type="email"]:focus {
    border-color: rgb(29, 177, 95);
    box-shadow: 0 0 8px 0 rgb(29, 177, 95);
}

.inputWithIcon input[type="email"] {
    padding-left: 40px;
}

.inputWithIcon_login {
    position: relative;
}

.inputWithIcon_login i {
    position: absolute;
    left: 5px;
    top: 12px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.inputWithIcon_login input[type="text"]:focus+i {
    color: rgb(29, 177, 95);
}
.inputWithIcon_login input[type="password"]:focus+i {
    color: rgb(29, 177, 95);
}
.inputWithIcon.inputIconBg_login i {
    background-color: #aaa;
    color: #fff;
    padding: 4px 4px;
    border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg_login input[type="text"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}
.inputWithIcon.inputIconBg_login input[type="password"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}


















.inputWithIcon_signup input[type="text"] {
    padding-left: 40px;
}


.inputWithIcon_signup input[type="password"] {
    padding-left: 40px;
}


.inputWithIcon_signup input[type="email"] {
    padding-left: 40px;
}

.inputWithIcon_signup {
    position: relative;
}

.inputWithIcon_signup i {
    position: absolute;
    left: 5px;
    top: 12px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}
.inputWithIcon_signup.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 4px 4px;
    border-radius: 4px 0 0 4px;
}
/* To mau icon form signup*/
.inputWithIcon_signup input[type="text"]:focus+i {
    color: rgb(29, 177, 95);
}
.inputWithIcon_signup input[type="password"]:focus+i {
    color: rgb(29, 177, 95);
}
.inputWithIcon_signup input[type="email"]:focus+i {
    color: rgb(29, 177, 95);
}

.inputWithIcon_signup.inputIconBg input[type="text"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}
.inputWithIcon_signup.inputIconBg input[type="password"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}
.inputWithIcon_signup.inputIconBg input[type="email"]:focus+i {
    color: #fff;
    background-color: dodgerBlue;
}























* {
    margin: 0;
    padding: 0;
    border: none;
}

.body_signup {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue';
    font-size: 16px;
    font-weight: bold;
    background: url('./image/login.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.h2_signup {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: beige;
    padding: 20px;
    font-display: flex;
}

.row-container_signup {
    border: 1px solid #fff;
    border-radius: 20px;
    margin-top: 10vh;
    /*vh=Viewport'sheight*/
    padding: 30px;
    -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.body_signup {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
}

.form-check-label_signup {
    color: beige;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn-success_signup {
    width: 75%;
    border-radius: 80px 70px;
    -webkit-border-radius: 80px 70px;
    -moz-border-radius: 80px 70px;
    -ms-border-radius: 80px 70px;
    -o-border-radius: 80px 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.btn-success_signup:hover {
    color: white;
    background-color: #b054c2;
}
.signup_signup {
    text-align: center;
}





.body_homepage {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 220px;
}

.subject_homepage {
    border-radius: 10px 10px 10px 10px;
    background-color: #c7c7c7;
    background-image: url("image/bgSubject.jpg");button-cancle;
    margin-top: 15px;
}

.textsubject_homepage {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 7px;
    line-height: 10px;
    font-size: 20px;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: aquamarine;
    border-radius: 10px;

}
.subject_homepage:hover {
    box-shadow: 5px 5px 10px rgb(77, 62, 62);
}
.join_code{
    display: flex;
    flex-direction: row;
}

.button-join-class{
    width: 20%;
    height: 18%;
    margin-top: 6px;
    margin-left: 5px;
    border-radius: 20px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

.button-join-class:hover{
    background-color: #b054c2;
    border-color: #b054c2;
}

.error_index{
    width: 30%;
    text-align: center;
    margin: auto;

}



/*forgot*/
.row-container_forgotpassword {
    border: 1px solid rgb(156, 150, 150);
    background-color: white;
    margin: 5%;
    padding: 30px;
    -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
}
.forgot_password{
    display: flex;
    flex-direction: row;
}
.box_email_forgot{
    width: 100%;
    border-radius: 10px 10px;

}
.button_send_email_forgot{
    width: 20%;
    margin-left: 10px;
    border-radius: 10px 10px;
    font-weight: bold;
    background-color: #ff1d68;
    border-color: #ff1d68;
}
.text_note_forgot_password{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}
.text_note2_forgot_password{
    margin: 10px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}
.text_note3_forgot_password{
    margin: 5px;
    line-height: 40px;
    font-size: 16px;
}
.body_forgotpassword{
    background-color: #ff1d68;
}


/*profile*/
.body_profile{
    background-color: #7befb2;
}
.title_profile_brand{
    font-weight: bold;

}

.name_profile{
    float: right;
    padding-left: 20px;
    font-size: 20px;
    width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title_profile{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    padding-bottom: 10px;
}
.label_profile{
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;
    width: 70%;
}
.form_name_profile{
    display: flex;
    flex-direction: row;
}
.form_profile{
    padding: 10px;
    line-height: 80px;
    width: 100%;
}
.row-container_profile{
    border: 1px solid rgb(156, 150, 150);
    margin: 5%;
    padding: 20px;
    background-color: white;
    border-radius: 70px 70px;
    -webkit-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 22px 5px rgba(0, 0, 0, 0.75);
}


.button-cancle_profile_changepassword{
    width: 100%;
    font-weight: bold;
    border-radius: 20px;
}
.button_changepassword_inprofile{
    width: 100%;
    font-weight: bold;
    border-color: none;
    background-color:#00a2ff;
    border-radius: 20px;
    border-color: #00a2ff;

}
.button_changepassword_inprofile:hover{
    background-color:#ff1d68;
    border-color: #ff1d68;

}
.button_change_inprofile{
    text-align: right;
}
.label_password_changepassword_inprofile{
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.label_newpassword_changepassword_inprofile{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label_confirm_newpassword_changepassword_inprofile{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box_email_update_profile{
    border-radius: 20px;
}
.box_name_update_profile{
    border-radius: 20px;
}
.box_birthday_update_profile{
    border-radius: 20px;
}
.box_phone_update_profile{
    border-radius: 20px;
}
.label_email_update_profile{
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label_name_update_profile{
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label_birthday_update_profile{
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.label_phone_update_profile{
    margin: 10px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text_note1_updateprofile{
    font-weight: bold;
}
.text_note1_changepassword_inprofile{
    font-weight: bold;
}