.row-container_changepassword_inprofile {
    margin: 5%;
    padding: 30px;
}
.text_note1_changepassword_inprofile{
    text-align: center;
}
.button_changepassword_inprofile{
    width: 35%;
    margin-top: 20px;
    font-weight: bold;
    border-color: none;
    background-color: rgb(26, 72, 224);
    border-radius: 50px;

}
.button_change_inprofile{
    text-align: right;
}
.label_password_changepassword_inprofile{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}
.label_newpassword_changepassword_inprofile{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}
.label_confirm_newpassword_changepassword_inprofile{
    margin: 10px;
    font-weight: bold;
    font-size: 18px;
}
