<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../app/view/content/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Password</title>
</head>
<body class = "body_changepassword_inprofile">
<div class="container-fluid">
    <div class="row justify-content-center">
        <form class="col-md-4 col-sm-6 col-xs-12 row-container_changepassword_inprofile" action="" method="post">
            <h1 class="text_note1_changepassword_inprofile">Change Password</h1>
            <div class="password_changepassword_inprofile">
                <label class="label_password_changepassword_inprofile">Password:</label>
                <input type="password" name="password" class="form-control box_password_changepassword_inprofile" placeholder="Enter password . . .">
            </div>
            <div class="newpassword_changepassword">
                <label class="label_newpassword_changepassword_inprofile">New password:</label>
                <input type="password" name="new_pass" class="form-control" class="box_newpassword_changepassword_inprofile" placeholder="Enter new password . . .">
            </div>
            <div class="confirm_newpassword_changepassword">
                <label class="label_confirm_newpassword_changepassword_inprofile">Confirm new password:</label>
                <input type="password" name="confirm_new_pass" class="form-control"class="box_confirm_newpassword_changepassword_inprofile" placeholder="Confirm password . . .">
            </div>
            <div class="button_change_inprofile">
                <button type="submit" name="button_change_pass" class="btn btn-success button_changepassword_inprofile">Done</button>
            </div>
            <div>
                {{ error }}
            </div>
        </form>
    </div>
</div>

</body>
</html>